*{
    margin: 0;
    padding: 0;
    padding-right: var(--bs-gutter-x,.0) !important;
    padding-left: var(--bs-gutter-x,.0) !important;
    --bs-gutter-x: 0 !important;
}
@font-face {
    font-family: prosto_one;
    src: url(../font/ProstoOne-Regular.ttf);
}
body{
    background-color: rgb(0, 0, 0);
    font-family: prosto_one;
}
#logo{
    width: 250px;
    margin: 5% 0;
}

h2{
    color: #886a4a;
}

.ico{
    background-color: #E3874F;
}

.card{
    margin: 0 2em;;
}

.borde_nav{
    border-bottom: 3px solid #886a4a;
    width: 100%;
    padding-top: 1em;
}
a{
    text-decoration: none;
}
.borde_footer{
    border-top: 2px solid #886a4a;
    color: #707070;
}
.text_guitaras{
    color: #707070;
    text-align: justify;
}
.text_guitarasH{
    color: #E3874F;
}
hr{
    width:35%;
    background-color:#E3874F;
}
.tableLight{
    background-color: white;
    width: 75%;
}
.text_footer{
    color: #707070;
}

/*******************************/

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    z-index: 10;
}
.navGuitar{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header.abajo{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 20px;
    border-bottom: 3px solid #886a4a;
    width: 100%;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div .nav_{
    width: 100%;
}
header ul, .navGuitar ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
header ul li, .navGuitar ul li{
    list-style: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.navGuitar ul li a{
    border-bottom: 3px solid #37363d;
}
header ul li:hover, .navGuitar ul li:hover, .btn_tabla_guitarra:hover{
    background-color: rgba(227, 135, 79, 0.7);
}
header ul li a:hover, .navGuitar ul li a:hover, .btn_tabla_guitarra:hover{
    color: #000000;
}
.navGuitar ul li a{
    position: relative;
    transition: 0.7s;
    margin: 0 5px;
    color: #E3874F;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    font-size: 13px;
    text-decoration: none;
}
.btn_tabla_guitarra{
    position: relative;
    transition: 0.7s;
    margin: 0 5px;
    color: #E3874F;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    font-size: 1em;
    text-decoration: none;
}
header ul li a, .btn_tabla_{
    font-size: 25px;
    position: relative;
    transition: 0.7s;
    margin: 0 15px;
    color: #707070;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    text-decoration: none;
}
.padding_texto{
    padding: 1% 3%;
}
.back_nav{
    position: relative;
    width: 100%;
    height: 15vh;
    background: url(../img/banner_nav.png);
    background-size: cover;
    background-position: center center;
}
header .logo{
    position: relative;

}
.back_modal{
    background-color: rgb(55, 54, 61, 0.7);
    border: 1px solid #E3874F;;
}
.modal-header{
    display:block !important;
    text-align: center;
}
.txt_color{
    color: #ffffff;
    
}
.txt_red{
    color: #900C3F;
}
.shadow_tabla{
    box-shadow: 5px 5px 8px rgba(227, 135, 79, 0.7), -5px -5px 8px rgba(227, 135, 79, 0.7), -5px 5px 8px rgba(227, 135, 79, 0.7), 5px -5px 8px rgba(227, 135, 79, 0.7);
}
.btn_modal_footer_close{
    padding: 0.5rem 1em !important;
    margin-right: 1em;
}
@media only screen and (max-width: 800px) {
    .back_nav{
        height:17vh;
    }
}