*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
}
#logo{
    width: 250px;
    margin: 5% 0;
}

h2{
    color: #886a4a;
}
a{
    text-decoration: none;
}
.ico{
    background-color: #E3874F;
}
.card_comparacion{
    padding: auto 5%;
}
.card{
    margin: 0 2em;;
}
.borde_nav{
    border-bottom: 2px solid #886a4a;
}
.borde_footer{
    border-top: 2px solid #886a4a;
    color: #707070;
}
.text_guitaras{
    color: #707070;
    text-align: justify;
}
.text_guitarasH{
    color: #E3874F;
}
hr{
    width:35%;
    background-color:#E3874F;
}
.tableLight{
    background-color: white;
    width: 75%;
}
.text_footer{
    color: #707070;
}